#about {
    height:75%;
    color:#000000;
}

.aboutHeader {
    font-size:24px;
    font-style:italic oblique;
}

.aboutText {
    font-family:Calibri;
}

div {
    margin:10px 10px 10px 10px;
}
